{% include 'header.html' %}
    <nav class="p-2 bg-info" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Añadir nuevo Socio a la Base de datos</li>
        </ol>
    </nav>
    <div class="container">
        <form class="row g-3 p-5" method="post" action="/store_socio" enctype="multipart/form-data">
            <div class="col-md-6">
                <label class="form-label" for="txtNombre">Nombre del Socio:</label>
                <input class="form-control" type="text" name="txtNombre" id="txtNombre" required>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="txtCorreo">Correo electrónico:</label>
                <input class="form-control" type="email" name="txtCorreo" id="txtCorreo" required>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="inputAdmin">Se requiere el codigo de administrador:</label>
                <input class="form-control" type="password" name="inputAdmin" id="inputAdmin" onchange="stateHandle()" required>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" id="botonAdmin">Agregar</button>
            </div>
        </form>
{% include 'footer.html' %}