{% include 'header.html' %}
<nav class="p-1 bg-info" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar usuario</li>
    </ol>
</nav>
<div class="container">
    {% for empleado in empleados %}
    <form class="row g-3 p-5" method="post" action="/update" enctype="multipart/form-data">
        <div class="col-md-2">
            <label class="form-label" for="txtID">ID:</label>
            <input class="form-control" type="text" value="{{empleado[0]}}" name="txtID" id="txtID">
        </div>
        <div class="col-md-5">
            <label class="form-label" for="txtNombre">Nombre:</label>
            <input class="form-control" type="text" value="{{empleado[1]}}" name="txtNombre" id="txtNombre">
        </div>
        <div class="col-md-5">
            <label class="form-label" for="txtCorreo">Correo:</label>
            <input class="form-control" type="text" value="{{empleado[2]}}" name="txtCorreo" id="txtCorreo">
        </div>
        <div class="col-12">
            <label class="form-label" for="txtID">
                Foto actual:
                    <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreFoto=empleado[3])}}" alt="foto actual">
            </label>
            <input  class="form-control" type="file" name="txtFoto" id="txtFoto">
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Editar</button>
        </div>

    </form>
    {% endfor %}
{% include 'footer.html' %}
