{% include 'header.html' %}
    <div class="container">

        <div class="row my-5">
            <div class="col-6">
                <form class="d-flex" method="post" action="/search" enctype="multipart/form-data">
                    <input class="form-control me-2" type="text" name="titulo" placeholder="Buscar por título" id="titlo" aria-label="titulo">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="col-6">
                <form method="post" action="/filter" > <!-- note action -->
                    <div class="row">
                        <div class="col-8">
                            <select name="categoria" id="categoria" class="form-select" aria-label="Filtro por categoría"> <!-- note the name -->
                                <option value="Todos" SELECTED>Todos</option>
                                {% for catg in categorias %}
                
                                    <option value="{{catg[0]}}">{{catg[0]}}</option>
                
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-success" type="submit">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            
        <div class="table-responsive shadow-lg">
            <table class="table table-light table-hover align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr>
                        <td>{{libro[0]}}</td> <!--Id-->
                        <td>
                            <img src="{{ url_for('uploads', nombreFoto=libro[4]) }}" class="img-thumbnail" width="100" alt="Portada del libro">
                        </td> <!--Foto-->
                        <td>{{libro[1]}}</td> <!--Nombre-->
                        <td>{{libro[2]}}</td> <!--Correo-->
                        <td class="text-center"><a class="btn btn-warning" href="/prestar/{{libro[0]}}"><i class="fas fa-book"></i> Prestar</a> | 
                            <a class="btn btn-info" href="/edit_libro/{{libro[0]}}"><i class="fas fa-edit"></i> Editar información</a> | 
                            <a class="btn btn-danger" onclick="return confirm('¿Desea borrar al libro?')" href="/destroy_libro/{{libro[0]}}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% include 'footer.html' %}